div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    position:absolute;
    top: 100px;
    left: 100px;
    animation: colorAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in; 
    animation-delay: 1s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    
}

    @keyframes colorAnimate{
        from { left: 0px;}
        to { left:200px;}
    }
    
    /* transition-property: all;
    transition: ease-in;
    transition-duration: 2s; */
    
/* div:hover{ */
    /* background-color: red;
    color: white;
    transform:skew(90deg) */
/* } */
/* div:active{
    background-color:blue;
} */