
      .background {
        background-image: url(C:\Users\wasim\Downloads\umbrella-g8404ef45a_1920.jpg);
        background-size: 400px;
        background-position-x: right;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 1000px;
        width: 1000px;
      }
    