body{
    text-align: center;
} 
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: blueviolet;
}
#box3{
    background-color: goldenrod;
}
#box4{
    background-color: rgb(41, 200, 91);
}
#box5{
    background-color: brown;
}