*{
    padding: 0;
    margin: 0;
    color: white;

}
#navbar{
    height: 60px;
    background-color: #0f1111;

}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
    
}
a{
    margin-right: 200px;
    text-decoration: none;
}
a:hover{
    color: #f08804;
}
input{
    color: black;
    border:none;
    height: 25px;
   width:300px;
   border-radius: 4px; 
}
input:hover{
    border: 2px solid orange;
}
.btn{
    border-radius: 4px;
    height:25px;
}
